button.button.button--colored.header__button-new(style=`margin-right: 20px`) Новая запись
nav.header__nav
  ul.header__nav-list
    li.header__list-item
      p sss sss
    li.header__list-item
      a.header__exit(href='#') Выйти
a.header__avatar.avatar
  img(src='/img/avatar-2.png', alt='аватар пользователя')
